<!---Side Menu Start--->
<div class="ms_sidemenu_wrapper">
  <div class="ms_nav_close">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
  </div>
  <div class="ms_sidemenu_inner">
      <div class="ms_logo_inner">
          <div class="ms_logo">
              <a href="index.html"><img [src]="logos" alt="" class="img-fluid"/></a>
          </div>
          <div class="ms_logo_open">
              <a href="index.html"><img [src]="logos2" alt="" class="img-fluid"/></a>
          </div>
      </div>
      <div class="ms_nav_wrapper">
          <ul>
            <li><a href="{{config.items[0].page}}" class="active" [title]="config.items[0].title">
              <span class="nav_icon">
                <span [class]="config.items[0].icon"></span>
              </span>
              <span class="nav_text">
                {{config.items[0].title}}
              </span>
              </a>
            </li>

            <li><a href="{{config.items[1].page}}" [title]="config.items[1].title">
              <span class="nav_icon">
                <span [class]="config.items[1].icon"></span>
              </span>
              <span class="nav_text">
                {{config.items[1].title}}
              </span>
              </a>
            </li>

            <li><a href="{{config.items[2].page}}" [title]="config.items[2].title">
              <span class="nav_icon">
                <span [class]="config.items[2].icon"></span>
              </span>
              <span class="nav_text">
                {{config.items[2].title}}
              </span>
              </a>
            </li>

            <li><a href="{{config.items[3].page}}" [title]="config.items[3].title">
              <span class="nav_icon">
                <span [class]="config.items[3].icon"></span>
              </span>
              <span class="nav_text">
                {{config.items[3].title}}
              </span>
              </a>
            </li>

            <li><a href="{{config.items[4].page}}" [title]="config.items[4].title">
              <span class="nav_icon">
                <span [class]="config.items[4].icon"></span>
              </span>
              <span class="nav_text">
                {{config.items[4].title}}
              </span>
              </a>
            </li>

            <li><a href="{{config.items[5].page}}" [title]="config.items[5].title">
              <span class="nav_icon">
                <span [class]="config.items[5].icon"></span>
              </span>
              <span class="nav_text">
                {{config.items[5].title}}
              </span>
              </a>
            </li>

            <li><a href="{{config.items[6].page}}" [title]="config.items[6].title">
              <span class="nav_icon">
                <span [class]="config.items[6].icon"></span>
              </span>
              <span class="nav_text">
                {{config.items[6].title}}
              </span>
              </a>
            </li>

            <li><a href="{{config.items[7].page}}" [title]="config.items[7].title">
              <span class="nav_icon">
                <span [class]="config.items[7].icon"></span>
              </span>
              <span class="nav_text">
                {{config.items[7].title}}
              </span>
              </a>
            </li>
                          
          </ul>
      </div>
  </div>
</div>