<!---Side Menu Start--->
<div class="ms_sidemenu_wrapper">
  <div class="ms_nav_close">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
  </div>
  <div class="ms_sidemenu_inner">
      <div class="ms_logo_inner">
          <div class="ms_logo">
              <a routerLink="/home"><img [src]="logos" alt="" class="img-fluid"/></a>
          </div>
          <div class="ms_logo_open">
              <a routerLink="/home"><img [src]="logos2" alt="" class="img-fluid"/></a>
          </div>
      </div>
      <div class="ms_nav_wrapper">
          <ul *ngFor="let item of config.items">
            <li><a [title]="item.title" routerLink="{{item.page}}">
              <span class="nav_icon">
                <span [class]="item.icon"></span>
              </span>
              <span class="nav_text">
                {{item.title}}
              </span>
              </a>
            </li>
          </ul>
      </div>
  </div>
</div>