<div class="ms_release_box">
    <div class="w_top_song">
        <span class="slider_dot"></span>
        <div class="w_tp_song_img">
            <img [src]="song.cover_url" alt="" style="width: 50px; object-fit: cover;" height="50">
            <div class="ms_song_overlay">
            </div>
            <div class="ms_play_icon">
                <img src="../../../assets/images/svg/play.svg" alt="">
            </div>
        </div>
        <div class="w_tp_song_name">
            <h3><a href="#">{{song.name}}</a></h3>
            <p>{{song.artist}}</p>
        </div>
    </div>
</div>