    <div class="album_single_data">
        <div class="album_single_img">
            <img [src]="details.cover_url" alt="" class="img-fluid" style="width: 240px; height: 240px ;object-fit: cover;">
        </div>
        <div class="album_single_text">
            <h2>{{details.name}}</h2>
            <p class="singer_name">{{details.localisation}}</p>
            <div class="about_artist">
                {{details.description}}
            </div>
        </div>
    </div>
    <!----Song List---->
    <div class="album_inner_list">
        <div class="album_list_wrapper">
            <ul class="album_list_name">
                <li>#</li>
                <li>Song Title</li>
                <li>Downloads</li>
                <li class="text-center">Genre</li>
                <li class="text-center">Dates</li>
                <li class="text-center">More</li>
            </ul>
            <ul *ngFor="let song of songs; let index = index">
                <li><a routerLink="{{song.link}}" ><span class="play_no">{{index + 1}}</span><span class="play_hover"></span></a></li>
                <li><a >{{song.name}}</a></li>
                <li class="text-center"><a >{{song.downloads}}</a></li>
                <li class="text-center"><a >{{song.genre}}</a></li>
                <li class="text-center"><a >{{song.timestamp.seconds * 1000 | date:'dd-MM-yyyy h:mm:ss'}}</a></li>
                <li class="text-center ms_more_icon"><a href="javascript:;"><span class="ms_icon1 ms_active_icon"></span></a>
                    <ul class="more_option">
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
                        <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>
    </div>