<div class="ms_header">
    <div class="ms_top_left">
        <div class="ms_top_search">
            <input type="text" class="form-control" placeholder="Search Music Here..">
            <span class="search_icon" data-toggle="modal" data-target="#searchModal">
                <img src="../../../assets/images/svg/search.svg" alt="">
            </span>
        </div>
    </div>
    <div class="ms_top_right" *ngIf="currentUser == null">
        <div class="ms_top_btn">
            <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal" data-target="#myModal"><span>register</span></a>
            <a href="javascript:;" class="ms_btn login_btn" data-toggle="modal" data-target="#myModal1"><span>login</span></a>
        </div>
    </div>

    <div class="ms_top_right" *ngIf="currentUser != null">
        <div class="ms_top_btn">
            <a routerLinkActive="active" routerLink="upload" class="ms_btn">upload</a>
            <a href="javascript:;" class="ms_admin_name">{{ currentUser.displayName }}													
            </a>
            <ul class="pro_dropdown_menu">
                <li><a routerLinkActive="active" routerLink="profil">Profile</a></li>
                <li><a (click)="logOut()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>