<div class="ms_player_wrapper" style='background-image: url(../../../assets/images/artist/nyandoro.jpg);'>
    <div class="ms_player_close">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </div>
    <div class="player_mid">
        <div class="audio-player">
            <div id="jquery_jplayer_1" class="jp-jplayer"></div>
            <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                <div class="player_left">
                    <div class="ms_play_song">
                        <div class="play_song_name">
                            <a href="javascript:void(0);" id="playlist-text">
                                <div class="jp-now-playing flex-item">
                                    <div class="jp-track-name"><p>Zaina</p></div>
                                    <div class="jp-artist-name"><p>Agressivo Nyzndoro</p></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="play_song_options">
                        <ul>
                            <li><a href="#"><span class="song_optn_icon"><i class="ms_icon icon_download"></i></span>download now</a></li>
                            <li><a href="#"><span class="song_optn_icon"><i class="ms_icon icon_share"></i></span>Share</a></li>
                        </ul>
                    </div>
                    <span class="play-left-arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </div>
                <!----Right Queue---->
                <div class="jp-type-playlist">
                    <div class="jp-gui jp-interface flex-wrap">
                        <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
                        muted="muted" [displayPlaylist]="msaapDisplayPlayList"
                            [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
                            [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist" 
                            [displayDuration]="msaapDisplayDuration" [expanded]="true"></ngx-audio-player> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--main div-->
</div>