       <!---Recently Played Music--->
    <div class="ms_rcnt_slider">
        <div class="ms_heading">
            <h1>Recently Played</h1>
            <span class="veiw_all"><a routerLink="/track">view more</a></span>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let song of songss">
                    <app-primary-card  [song]="song"></app-primary-card>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next slider_nav_next"></div>
        <div class="swiper-button-prev slider_nav_prev"></div>
    </div>

        <!---Banner--->

        <br>
        
            <div class="ms_rcnt_slider ms_heading ms_rcnt_box">
                <div class="container">
                    <carousel
                            [width]="innerWidth - 200"
                            [height]="innerWidth / 3"
                            [cellsToShow]="1"
                            [cellsToScroll]="1"
                            [autoplay]="true"
                            [autoplayInterval]="5000"
                            [loop] = "true"
                            [counter]="true"
                            [counterSeparator]="' / '"
                            [transitionDuration] = "300"
                            [images]="images">
                        </carousel>
                </div>
            </div>
        

    <!---Weekly Top 15--->
    <div class="ms_weekly_wrapper">
        <div class="ms_weekly_inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ms_heading">
                        <h1>Afro top 15</h1>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 padding_right40">
                    <div class="ms_weekly_box" *ngFor="let song of songs; let index = index">
                        <app-secondary-card [song]="song" [indice]="index"></app-secondary-card>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!---Featured Artists Music--->
    <div class="ms_featured_slider">
        <div class="ms_heading">
            <h1>Featured Artists</h1>
            <span class="veiw_all"><a routerLink="/artistes">view more</a></span>
        </div>
        <div class="ms_feature_slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let song of artists">
                    <app-primary-card  [song]="song"></app-primary-card>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next1 slider_nav_next"></div>
        <div class="swiper-button-prev1 slider_nav_prev"></div>
    </div>

    <!----Featured Albumn Section Start---->
    <div class="ms_fea_album_slider">
        <div class="ms_heading">
            <h1>Featured Albums</h1>
            <span class="veiw_all"><a routerLink="/albums">view more</a></span>
        </div>
        <div class="ms_album_slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let song of albums">
                    <app-primary-card  [song]="song"></app-primary-card>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next3 slider_nav_next"></div>
        <div class="swiper-button-prev3 slider_nav_prev"></div>
    </div>

    <div class="ms_fea_album_slider">
        <div class="ms_heading">
            <h1>Afro Video</h1>
            <span class="veiw_all"><a routerLink="/emission">view more</a></span>
        </div>
        <div class="ms_album_slider swiper-container">


                    <youtube-player 
                        [videoId]="emissions" 
                        suggestedQuality="highres" 
                        [height]="innerWidth / 3" 
                        [width]="innerWidth - 200" >
                    </youtube-player>


        </div>
    </div>

    <!----Top Genres Section Start---->
    <div class="ms_genres_wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="ms_heading">
                    <h1>Top Genres</h1>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ms_genres_box">
                    <img [src]="genres[2].image" alt="" class="img-fluid" style="width: 510px; height: 510px; object-fit: cover;"/>
                    <div class="ms_main_overlay">
                        <div class="ms_box_overlay"></div>
                        <div class="ms_play_icon">
                            <img src="../../../../assets/images/svg/play.svg" alt="">
                        </div>
                        <div class="ovrly_text_div">
                            <span class="ovrly_text1"><a routerLink="/genre/{{genres[2].nom}}/details">{{genres[2].nom}}</a></span>
                        </div>
                    </div>
                    <div class="ms_box_overlay_on">
                        <div class="ovrly_text_div">
                            <span class="ovrly_text1"><a routerLink="/genre/{{genres[2].nom}}/details">{{genres[2].nom}}</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ms_genres_box">
                            <img [src]="genres[1].image" alt="" class="img-fluid" style="width: 240px; height: 240px; object-fit: cover;"/>
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_play_icon">
                                    <img src="../../../../assets/images/svg/play.svg">
                                </div>
                                <div class="ovrly_text_div">
                                    <span class="ovrly_text1"><a routerLink="/genre/{{genres[1].nom}}/details">{{genres[1].nom}}</a></span>
                                </div>
                            </div>
                            <div class="ms_box_overlay_on">
                                <div class="ovrly_text_div">
                                    <span class="ovrly_text1"><a routerLink="/genre/{{genres[1].nom}}/details">{{genres[1].nom}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="ms_genres_box">
                            <img [src]="genres[0].image" alt="" class="img-fluid" style="width: 510px; height: 240px; object-fit: cover;" />
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_play_icon">
                                    <img src="../../../../assets/images/svg/play.svg" alt="">
                                </div>
                                <div class="ovrly_text_div">
                                    <span class="ovrly_text1"><a routerLink="/genre/{{genres[0].nom}}/details">{{genres[0].nom}}</a></span>
                                </div>
                            </div>
                            <div class="ms_box_overlay_on">
                                <div class="ovrly_text_div">
                                    <span class="ovrly_text1"><a routerLink="/genre/{{genres[0].nom}}/details">{{genres[0].nom}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="ms_genres_box">
                            <img [src]="genres[5].image" alt="" class="img-fluid" style="width: 510px; height: 240px; object-fit: cover;"/>
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_play_icon">
                                    <img src="../../../../assets/images/svg/play.svg" alt="">
                                </div>
                                <div class="ovrly_text_div">
                                    <span class="ovrly_text1"><a routerLink="/genre/{{genres[5].nom}}/details">{{genres[5].nom}}</a></span>
                                </div>
                            </div>
                            <div class="ms_box_overlay_on">
                                <div class="ovrly_text_div">
                                    <span class="ovrly_text1"><a routerLink="/genre/{{genres[5].nom}}/details">{{genres[5].nom}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ms_genres_box">
                            <img [src]="genres[4].image" alt="" class="img-fluid" style="width: 510px; height:240px; object-fit: cover;"/>
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_play_icon">
                                    <img src="../../../../assets/images/svg/play.svg" alt="">
                                </div>
                                <div class="ovrly_text_div">
                                    <span class="ovrly_text1"><a routerLink="/genre/{{genres[4].nom}}/details">{{genres[4].nom}}</a></span>
                                </div>
                            </div>
                            <div class="ms_box_overlay_on">
                                <div class="ovrly_text_div">
                                    <span class="ovrly_text1"><a routerLink="/genre/{{genres[4].nom}}/details">{{genres[4].nom}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="ms_genres_box">
                    <img [src]="genres[3].image" alt="" class="img-fluid" style="width: 240px; height: 510px; object-fit: cover;"/>
                    <div class="ms_main_overlay">
                        <div class="ms_box_overlay"></div>
                        <div class="ms_play_icon">
                            <img src="../../../../assets/images/svg/play.svg" alt="">
                        </div>
                        <div class="ovrly_text_div">
                            <span class="ovrly_text1"><a routerLink="/genre/{{genres[3].nom}}/details">{{genres[3].nom}}</a></span>
                        </div>
                    </div>
                    <div class="ms_box_overlay_on">
                        <div class="ovrly_text_div">
                            <span class="ovrly_text1"><a routerLink="/genre/{{genres[3].nom}}/details">{{genres[3].nom}}</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>